<app-header></app-header>
<section class="container">
<div class="textosolicitud "  >
        <p  class="solicitud" >Permisos</p>
      </div>
<div class="borderso text-center"></div>
  
       
  
<a href="agregar-permiso" class=" butto2 button2">Agregar
            <i class="bi bi-plus-lg"></i>
</a>

<table class=" table table-striped text-center"  style=" margin-top:50px; margin-bottom: 80px; font-family: 'Montserrat'; font-size:17px; border:double rgb(179, 176, 176)">
    <thead>
      <tr>
        <th scope="col">Numero</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Permiso</th>
        <th scope="col">Rol</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <th scope="row">1</th>
        <td>Orrin</td>
        <td>orrin@gmal.com</td>
        <td>Global</td>
        <td>Administrador</td>
        <td><a href=""><i class="bi bi-check2-all"></i></a>
          <a href=""><i class="bi bi-file-earmark-post" style="margin-left: 6%;"></i></a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Thornton</td>
        <td><a href=""><i class="bi bi-check2-all"></i></a>
          <a href=""><i class="bi bi-file-earmark-post" style="margin-left: 6%;"></i></a>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>the Bird</td>
        <td><a href=""><i class="bi bi-check2-all"></i></a>
          <a href=""><i class="bi bi-file-earmark-post" style="margin-left: 6%;"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

</section>
<app-footer></app-footer>