<app-header></app-header>






    



<section class="container ">

   <div class="d-flex justify-content-between " style="margin-top:20px;" >
      <div class="d-flex" >
        <i class="bi bi-house-door" style="font-size: 25px;"></i>
        <i class="bi bi-chevron-right" style="font-size: 25px;"></i>
        <p style="font-family: 'Montserrat';font-size: 25px; ">Solicitudes</p>
        <i class="bi bi-chevron-right" style="font-size: 25px;"></i>
       <p style="font-family: 'Montserrat';font-size: 25px; ">Unidad Economica</p>
       
      </div>
      <a href="#"   style="font-family: 'Montserrat';font-size: 25px; color:blue; margin-right:15px;">Manual de usuario</a>
    
    </div>
  

    <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; " >
        <p style=" font-size: 50px;"   ><strong>UNIDAD ECONOMICA</strong></p>
        <div>
          <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Oficina de registro</strong><p>
        </div>
      </div>
    <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px;" >
 
        <div>
         
        </div>
      </div>
      



        <div class="borderso text-center" ></div>

       
     

     <div class="row formularyborder" style="margin-top: 50px;">

        <div class="col-md-4">
            <div class="form-group">
               <div class="d-flex justify-content-between">
                
               <label class="control-label textoInput">OFICINA:</label>
      
               <button  style="border: solid 1px rgb(122, 3, 3); color:rgb(122, 3, 3);"><i class="bi bi-plus-lg"></i></button>
            
            </div>
               <select class="form-select required" id="" name="">
                      <option value="0">Selecciona una opción</option>
                      <option value="1">Persona fisica</option>
             <option value="2">Persona moral</option>
                     
                      <option value="3">Ambas</option>        
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>



         <div class="col-md-4">
            <div class="form-group">
               <label class="control-label textoInput">FECHA:</label>
               <input class="form-control required" id="" name="" type="date" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4 b">
            <div class="form-group">
               <label class="control-label textoInput" >CAPTURAR RNPA:</label>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>



        
<div>
    <p  style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Datos generales</strong><p>
        <div class="borderso text-center" ></div>
        
</div>
       


       
       <div style="margin-top: 20px;"></div>
       
            <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput">ESTADO:</label>
                   <select class="form-select required" id="" name="">
                          <option value="0">Selecciona una opción</option>
                          <option value="1">Persona fisica</option>
                 <option value="2">Persona moral</option>
                         
                          <option value="3">Ambas</option>        
                   </select>
                   <p class="vacio" id=""></p>
                </div>
             </div>

                    
             <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput" >CURP:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>
    



            


             
             
             

           
             <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput">RFC:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput">NOMBRES(S):</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput">APELLIDO PATERNO:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput">APELLIDO MATERNO:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>


             <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput">CORREO ELECTRONICO:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>
    

     </div>


    
       


       
   



   
     
</section>



<section class="container formularyborder">

    <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px;" >
 
        <div>
          <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>DOMICILIO</strong><p>
        </div>
      </div>
      



        <div class="borderso text-center" ></div>
        <div style="margin-top: 20px;"></div>
      
     

     <div class="row" style="margin-top: 50px;">

        <div class="col-md-4 bordeInput">
            <div class="form-group">
               <label class="control-label textoInput">NUMERO EXTERIOR:<span id="">*</span>:</label>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>


         <div class="col-md-4 bordeInput">
            <div class="form-group">
               <label class="control-label textoInput">NUMERO INTERIOR:<span id="">*</span>:</label>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>



         
         <div class="col-md-4 bordeInput">
            <div class="form-group">
               <label class="control-label textoInput">CODIGO POSTAL:<span id="">*</span>:</label>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>


         <div class="col-md-4 bordeInput">
            <div class="form-group">
               <label class="control-label textoInput">ACTIVIDAD PESQUERA</label>
               <select class="form-select required" id="" name="">
                      <option value="0">Selecciona una opción</option>
                      <option value="1">Persona fisica</option>
             <option value="2">Persona moral</option>
                     
                      <option value="3">Ambas</option>        
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>

        <div class="col-md-4 bordeInput">
           <div class="form-group">
              <label class="control-label textoInput">FECHA DE OPERACIONES</label>
              <input class="form-control required" id="" name="" type="date" maxlength="10">
              <p class="vacio" id=""></p>
          </div>
        </div>

       


        <div class="col-md-4 bordeInput">
           <div class="form-group">
              <label class="control-label textoInput">CANTIDAD DE PESCADORES<span id="">*</span>:</label>
              <input class="form-control required" id="" name="" type="number" maxlength="10">
              <p class="vacio" id=""></p>
           </div>
        </div>
       
     
        
            
            <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput">ESTADO:</label>
                   <select class="form-select required" id="" name="">
                          <option value="0">Selecciona una opción</option>
                          <option value="1">Persona fisica</option>
                 <option value="2">Persona moral</option>
                         
                          <option value="3">Ambas</option>        
                   </select>
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput" >MUNICIPIO:</label>
                   <select class="form-select required" id="" name="">
                          <option value="0">Selecciona una opción</option>
                          <option value="1">Persona fisica</option>
                 <option value="2">Persona moral</option>
                         
                          <option value="3">Ambas</option>        
                   </select>
                   <p class="vacio" id=""></p>
                </div>
             </div>



             <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput">LOCALIDAD:</label>
                   <select class="form-select required" id="" name="">
                          <option value="0">Selecciona una opción</option>
                          <option value="1">Persona fisica</option>
                 <option value="2">Persona moral</option>
                         
                          <option value="3">Ambas</option>        
                   </select>
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput">TIPO:</label>
                   <select class="form-select required" id="" name="">
                          <option value="0">Selecciona una opción</option>
                          <option value="1">Persona fisica</option>
                 <option value="2">Persona moral</option>
                         
                          <option value="3">Ambas</option>        
                   </select>
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput">ASENTAMIENTO/COLONIA:<span id="">*</span>:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>
             
             <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput">TELEFONO:<span id="">*</span>:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-8 bordeInput">
               <div class="form-group">
                  <label class="control-label textoInput">CALLE:</label>
                  <input class="form-control required" id="" name="" type="text" maxlength="10">
                  <p class="vacio" id=""></p>
               </div>
            </div>

             

     </div>


    
</section>



<section class="container formularyborder">

    <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px;" >
 
        <div>
          <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Detalle</strong><p>
        </div>
      </div>
      
        <div class="borderso text-center" ></div>



     <div class="row" style="margin-top: 50px;">

       

        <div class="col-md-4 bordeInput">
           <div class="form-group"  >
              <label class="control-label textoInput">FECHA DE OPERACIONES</label>
              <input class="form-control required input" id="" name="" type="date" maxlength="10" >
              <p class="vacio" id=""></p>
          </div>
        </div>

       

        <div class="col-md-4 bordeInput">
           <div class="form-group">
              <label class="control-label textoInput">CANTIDAD DE PESCADORES<span id="">*</span>:</label>
              <input class="form-control required input" id="" name="" type="text" maxlength="10">
              <p class="vacio" id=""></p>
           </div>
        </div>

        <div class="col-md-3 bordeInput">
         <div class="form-group">
            <label class="control-label textoInput"></label>
            <button class="form-control required input" style="background-color: aquamarine; margin-top:15px;">SUBIR ARCHIVO<i class="bi bi-file-arrow-up"></i>
            </button>
            <p class="vacio" id=""></p>
         </div>
      </div>

       
       
        <p class="container" style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Socio 1</strong><p>
        
           
            
            <div class="col-md-4 bordeInput">
                <div class="form-group">
                   <label class="control-label textoInput">CURP:<span id="">*</span>:</label>
                   <input class="form-control required input" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>

            


     </div>


     <div class="row">
        <div class="col-md-12">
           <div class="pull-left">
              <p class="top_10">* Campos obligatorios</p>
           </div>
           <div class="d-flex justify-content-end  " style="margin-bottom: 50px;">
              <button class="btn btn-default botones" id="btn_cancelar" type="button "  height="40px;" style="background-color: rgb(110, 109, 109); color:white;">Cancelar</button>
              <button class="btn  botones" id="btn_guardar" type="button" style="background-color: brown; color:white;" >Guardar</button>
           </div>
        </div>
     </div>

     
     
</section>


   
<app-footer></app-footer>