<app-header></app-header>




<div class="d-flex justify-content-between " style="margin-top:20px;" >
    <div class="d-flex" style="font-family: 'Montserrat';font-size: 25px; ">
      <i class="bi bi-house"></i>
      <i class="bi bi-caret-right"></i>
     <p>Unidad economica</p>
     
    </div>
    <a href="#"   style="font-family: 'Montserrat';font-size: 25px; color:blue; margin-right:15px;">Manual de usuario</a>

  </div>


    



<section class="container">

  

    <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; " >
        <p style=" font-size: 50px;"   ><strong>UNIDAD ECONOMICA</strong></p>
        <div>
          <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Oficina de registro</strong><p>
        </div>
      </div>
    <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px;" >
 
        <div>
         
        </div>
      </div>
      



        <div class="borderso text-center" ></div>

       
     

     <div class="row" style="margin-top: 50px;">

        <div class="col-md-4">
            <div class="form-group">
               <label class="control-label">OFICINA:</label>
               <select class="form-control required" id="" name="">
                      <option value="0">Selecciona una opción</option>
                      <option value="1">Persona fisica</option>
             <option value="2">Persona moral</option>
                     
                      <option value="3">Ambas</option>        
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>



         <div class="col-md-4">
            <div class="form-group">
               <label class="control-label">FECHA:</label>
               <input class="form-control required" id="" name="" type="date" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <label class="control-label">CAPTURAR RNPA:</label>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>



        
<div>
    <p  style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Datos generales</strong><p>
        <div class="borderso text-center" ></div>
        
</div>
       


       
       <div style="margin-top: 20px;"></div>
       
            <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">ESTADO:</label>
                   <select class="form-control required" id="" name="">
                          <option value="0">Selecciona una opción</option>
                          <option value="1">Persona fisica</option>
                 <option value="2">Persona moral</option>
                         
                          <option value="3">Ambas</option>        
                   </select>
                   <p class="vacio" id=""></p>
                </div>
             </div>

                    
             <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">CURP:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>
    



            


             
             
             

           
             <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">RFC:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">NOMBRES(S):</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">APELLIDO PATERNO:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">APELLIDO MATERNO:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>


             <div class="col-md-6">
                <div class="form-group">
                   <label class="control-label">CORREO ELECTRONICO:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>
    

     </div>


    
       


       
   



   
     
</section>



<section class="container">

    <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px;" >
 
        <div>
          <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>DOMICILIO</strong><p>
        </div>
      </div>
      



        <div class="borderso text-center" ></div>
        <div style="margin-top: 20px;"></div>
        <div class="col-md-4">
            <div class="form-group">
               <label class="control-label">CALLE:</label>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>
     

     <div class="row" style="margin-top: 50px;">

        <div class="col-md-4">
            <div class="form-group">
               <label class="control-label">NUMERO EXTERIOR:<span id="">*</span>:</label>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>


         <div class="col-md-4">
            <div class="form-group">
               <label class="control-label">NUMERO INTERIOR:<span id="">*</span>:</label>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <label class="control-label">CODIGO POSTAL:<span id="">*</span>:</label>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>


         <div class="col-md-4">
            <div class="form-group">
               <label class="control-label">Actividad pesquera</label>
               <select class="form-control required" id="" name="">
                      <option value="0">Selecciona una opción</option>
                      <option value="1">Persona fisica</option>
             <option value="2">Persona moral</option>
                     
                      <option value="3">Ambas</option>        
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>

        <div class="col-md-4">
           <div class="form-group">
              <label class="control-label">Fecha de operaciones</label>
              <input class="form-control required" id="" name="" type="date" maxlength="10">
              <p class="vacio" id=""></p>
          </div>
        </div>

       


        <div class="col-md-4">
           <div class="form-group">
              <label class="control-label">Cantidad de pescadores<span id="">*</span>:</label>
              <input class="form-control required" id="" name="" type="text" maxlength="10">
              <p class="vacio" id=""></p>
           </div>
        </div>
       
     
        
            
            <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">ESTADO:</label>
                   <select class="form-control required" id="" name="">
                          <option value="0">Selecciona una opción</option>
                          <option value="1">Persona fisica</option>
                 <option value="2">Persona moral</option>
                         
                          <option value="3">Ambas</option>        
                   </select>
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">MUNICIPIO:</label>
                   <select class="form-control required" id="" name="">
                          <option value="0">Selecciona una opción</option>
                          <option value="1">Persona fisica</option>
                 <option value="2">Persona moral</option>
                         
                          <option value="3">Ambas</option>        
                   </select>
                   <p class="vacio" id=""></p>
                </div>
             </div>



             <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">LOCALIDAD:</label>
                   <select class="form-control required" id="" name="">
                          <option value="0">Selecciona una opción</option>
                          <option value="1">Persona fisica</option>
                 <option value="2">Persona moral</option>
                         
                          <option value="3">Ambas</option>        
                   </select>
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">TIPO:</label>
                   <select class="form-control required" id="" name="">
                          <option value="0">Selecciona una opción</option>
                          <option value="1">Persona fisica</option>
                 <option value="2">Persona moral</option>
                         
                          <option value="3">Ambas</option>        
                   </select>
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">ASENTAMIENTO/COLONIA:<span id="">*</span>:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>
             
             <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">TELEFONO:<span id="">*</span>:</label>
                   <input class="form-control required" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>

             

     </div>


    
</section>



<section class="container">

    <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px;" >
 
        <div>
          <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Detalle</strong><p>
        </div>
      </div>
      
        <div class="borderso text-center" ></div>



     <div class="row" style="margin-top: 50px;">

        <div class="col-md-4">
            <div class="form-group">
               <label class="control-label">Actividad pesquera</label>
               <select class="form-control required input " id="" name="">
                      <option value="0">Selecciona una opción</option>
                      <option value="1">Persona fisica</option>
             <option value="2">Persona moral</option>
                     
                      <option value="3">Ambas</option>        
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>

        <div class="col-md-4">
           <div class="form-group"  >
              <label class="control-label">Fecha de operaciones</label>
              <input class="form-control required input" id="" name="" type="date" maxlength="10" >
              <p class="vacio" id=""></p>
          </div>
        </div>

       

        <div class="col-md-4">
           <div class="form-group">
              <label class="control-label">Cantidad de pescadores<span id="">*</span>:</label>
              <input class="form-control required input" id="" name="" type="text" maxlength="10">
              <p class="vacio" id=""></p>
           </div>
        </div>
       
        <p class="container" style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Socio 1</strong><p>
        
            <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">Tipo</label>
                   <select class="form-control required input" id="" name="">
                          <option value="0">Selecciona una opción</option>
                          <option value="1">Persona fisica</option>
                 <option value="2">Persona moral</option>
                         
                          <option value="3">Ambas</option>        
                   </select>
                   <p class="vacio" id=""></p>
                </div>
             </div>
            
            <div class="col-md-4">
                <div class="form-group">
                   <label class="control-label">CURP:<span id="">*</span>:</label>
                   <input class="form-control required input" id="" name="" type="text" maxlength="10">
                   <p class="vacio" id=""></p>
                </div>
             </div>

            


     </div>


     <div class="row">
        <div class="col-md-12">
           <div class="pull-left">
              <p class="top_10">* Campos obligatorios</p>
           </div>
           <div class="d-flex justify-content-end " style="margin-bottom: 50px;">
              <button class="btn btn-default" id="btn_descartar" type="button">Descartar</button>
              <button class="btn btn-primary" id="btn_guardar" type="button">Guardar</button>
           </div>
        </div>
     </div>
     
</section>

<app-footer></app-footer>