<app-header></app-header>

<section>
    <div class="textosolicitud" style=" font-family: 'Montserrat'; margin-top:30px; margin-left:20px;" >
      <h1   ><strong>Solicitudes</strong></h1>
    </div>
      <div class="borderso text-center"></div>
      
      <button type="button" class=" btn btn-outline-danger" style="margin-top:30px; margin-left:200px ; width:150px; ">
        
        Agregar
      
       <i  class="bi bi-plus" style="font-size: 1rem; "></i>
    
        </button>
        
        
        
       
        <div class=" mt-4 mb-4 d-flex justify-content-start" style="margin-left: 200px;">
          <div>
            <p class="textonormal" >Estatus:</p>
          
          <select class="form-select " style="font-family: 'Montserrat'; font-size:17px; border:double rgb(179, 176, 176);" >
            <option selected >Selecciona una opción</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
          <div class="d-flex justify-content-end col-8">
           
          
            <div >
              <p  class="textonormal">Proceso:</p>
            
           
          <select class="form-select" style="font-family: 'Montserrat'; font-size:17px; border:double rgb(179, 176, 176);">
            <option selected>Selecciona una opción</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
          <div style="margin-left: 200px;">
            <p  class="textonormal">Modalidad:</p>
          
          <select class="form-select" style="font-family: 'Montserrat'; font-size:17px; border:double rgb(179, 176, 176)" >
            
            <option selected>Selecciona una opción</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        </div>
        </div>
        <div class="container">
        <table class=" table table-striped"  style="font-family: 'Montserrat'; font-size:17px; border:double rgb(179, 176, 176)">
          <thead>
            <tr>
              <th scope="col">Folio</th>
              <th scope="col">Fecha</th>
              <th scope="col">Proceso</th>
              <th scope="col">Modalidad</th>
              <th scope="col">Tipo de solicitud</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Fecha</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
    
            </tr>
            <tr>
              <th scope="row">Proceso</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">Mpdalidad</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </section>
<app-footer></app-footer>