
<app-header></app-header>
<section class="container">
  <div class="d-flex align-items-center light-blue-gradient" style="height: 100vh;">
      <div class="container" >
          <div class="d-flex justify-content-center">
              <div class="col-md-6">
                  <div class="card rounded-0 shadow">
                      <div class="card-body">
                          <div class="text-center">
                              <h3 >Agregar una nueva oficina</h3>
                              <i class="bi bi-buildings-fill" style="font-size: 125px;"></i>
                          </div>
                        
                          
                        
                          <form [formGroup]="FormUni" (submit)="enviar()" ngNativeValidate>
                              <div class="form-group">
                                <label for="">Nombre</label>
                                <input required type="text" name="" formControlName="NombreOficina" id="" class="form-control">
                              </div>
                              <div class="form-group">
                                <label for="">Ubicacion</label>
                                <input required type="text" name="" formControlName="Ubicacion" id="" class="form-control">
                              </div>
                             
                              <div class="form-group">
                                <label for="">Telefono</label>
                                <input required type="text" name="" formControlName="Telefono" id="" class="form-control">
                              </div>

                              <div class="form-group">
                                <label for="">Email</label>
                                <input required type="text" name="" formControlName="Email" id="" class="form-control">
                              </div>
                              
                             
                                
                               
                              <div class="form-group form-check">
                                
                              </div>
                              <button type="submit" class="btn btn-primary">Agregar</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
         
      </section>
      



  <app-footer></app-footer>