.color1{
    padding-top: 10px;
    background-color: #691831;
    color: white;
    font-size: 23px;

}

.posicion{
    
    max-width: 180px;
	height: auto;
    object-fit: scale-down;
    
}

.posicion1{
    
    max-width: 140px;
	height: auto;
    object-fit: scale-down;
}

.tma{
    font-size: 25px;
}
.banda{
    background-size: cover;
    width: 100%;
}
.contenedor-imagenes {
    display: flex;
  }
  
  .img1 {
    margin-right: 15px;
    margin-left: 5px;
    height: 45px;
    width: 200px;
  margin-top: 12px;
    object-fit:fill
  }
  .img2 {
    margin-right: 10px;
    margin-left: 8px;
    
    height: 70px;
    width: 280px;
    
    
    object-fit:fill
  }
  .vertical{
   border-left: solid #000000 ;


  }

  