<app-header></app-header>

<div class="d-flex justify-content-between " style="margin-top:20px;margin-left:20px;" >
  <div class="d-flex" style="font-family: 'Montserrat';font-size: 25px; ">
    <i class="bi bi-house"></i>
    <i class="bi bi-caret-right"></i>
   <p>Solicitud</p>
   
  </div>
  <a href="#"   style="font-family: 'Montserrat';font-size: 25px; color:blue; margin-right:15px;">Manual de usuario</a>

</div>



    <section class="container-xl">


      
    <div class="textosolicitud "  >
      <p  class="solicitud" ><strong>Solicitudes</strong></p>
    </div>
      <div class="borderso text-center"></div>

      <button type="button" class=" btn btn-outline-danger" style="margin-top:30px; width:150px; ">
        
        Agregar
      
       <i  class="bi bi-plus" style="font-size: 1rem; "></i>
    
        </button>
      <div class="row justify-content-end" style="margin-top: 50px;">
        
        <div class="col-md-3">
          <div class="form-group">
             <label class="control-label"><p>ESTATUS:</p></label>
             <select class="form-control required" id="" name="">
                    <option value="0">Selecciona una opción</option>
                    <option value="1">Persona fisica</option>
           <option value="2">Persona moral</option>
                   
                    <option value="3">Ambas</option>        
             </select>
             <p class="vacio" id=""></p>
          </div>
       </div>

       <div class="col-md-3">
        <div class="form-group">
           <label class="control-label"><p>PROCESO:</p></label>
           <select class="form-control required" id="" name="">
                  <option value="0">Selecciona una opción</option>
                  <option value="1">Persona fisica</option>
         <option value="2">Persona moral</option>
                 
                  <option value="3">Ambas</option>        
           </select>
           <p class="vacio" id=""></p>
        </div>
     </div>

     <div class="col-md-3">
      <div class="form-group">
         <label class="control-label"><p>MODALIDAD:</p></label>
         <select class="form-control required" id="" name="">
                <option value="0">Selecciona una opción</option>
                <option value="1">Persona fisica</option>
       <option value="2">Persona moral</option>
               
                <option value="3">Ambas</option>        
         </select>
         <p class="vacio" id=""></p>
      </div>
   </div>



      </div>

      <table class=" table table-striped"  style="font-family: 'Montserrat'; font-size:17px; border:double rgb(179, 176, 176)">
        <thead>
          <tr>
            <th scope="col">Folio</th>
            <th scope="col">Fecha</th>
            <th scope="col">Proceso</th>
            <th scope="col">Modalidad</th>
            <th scope="col">Tipo de solicitud</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Fecha</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
  
          </tr>
          <tr>
            <th scope="row">Proceso</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">Mpdalidad</th>
            <td >Larry</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          
        </tbody>
      </table>
    </section>
<app-footer></app-footer>