<app-header></app-header>


<section class="container">
   <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; margin-bottom:30px;">
      <p style=" font-size: 50px;"><strong>REGIONES</strong></p>
      <div>
      </div>
   </div>
   <div class="order_boxes">
      <div class="row">
         <div class="col-lg-6 col-lx-4">
           
            <div>
               <table class="table   text-center"  style="text-transform: uppercase;">
             <td class=" text-center textoInfo" style="background-color: #7B1E34;">#</td>
             <td class=" text-center textoInfo" style="background-color: #7B1E34;">LISTA DE REGIONES</td>
                  <tr *ngFor="let pesca of data ; let iControl = index">
                    
                     <td class="textoInput" style="border: solid 1px rgb(131, 130, 130);">{{pesca.id}}</td>
                     <td class="textoInput"  style="border: solid 1px rgb(131, 130, 130);">{{pesca.NombreRegion}}</td>
                  </tr>
               </table>
            </div>
         </div>
         <div class="col-lg-2 col-lx-4"></div>
         <div class="col-lg-4 col-lx-4">
            <div class="text-white p-1 text-center" style="background-color: #000000;">
               AGREGAR REGIÓN
            </div>
            <form class="row " [formGroup]="FormRegion" (submit)="enviar()" ngNativeValidate>
              


                  <div class="col-md-lg marginput">
                     <div class="form-group">
                        <label class="control-label textoInput">NOMBRE:</label>
                        <input formControlName="NombreRegion" type="text" required class="form-control required"
                           style="text-transform: uppercase;">
                           <div
                  *ngIf="
                  FormRegion.controls['NombreRegion'].invalid &&
                  (FormRegion.controls['NombreRegion'].dirty || FormRegion.controls['NombreRegion'].touched)
                ">
                <div *ngIf="FormRegion.controls['NombreRegion'].errors">
                 <label for="" style="background-color: #7B1E34; color:white; font-size:12px;">  El ubicaciónes requrido</label>
                </div>
                
                  </div>
                           
                        <p class="vacio" id=""></p>
                     </div>
                     <div class="row">
                        <div class="col-md-lg">
                           <div class="d-flex justify-content-end  " style="margin-bottom: 50px;">
                              <button class="btn btn-default botones" (click)="cancelar()" type="button " height="40px;"
                                 style="background-color: rgb(110, 109, 109); color:white; margin-right: 20px;">Cancelar</button>
                              <button class="btn  " style="background-color: brown; color:white;">Guardar</button>
      
                           </div>
                        </div>
                     </div>
                  </div>


              
            </form>
         </div>

      </div>
   </div>
</section>





<app-footer></app-footer>
