<app-header></app-header>
<section class="container" style="margin-top:50px; margin-bottom: 50px;">
    <div  class="row categorias"><div  class="col-sm-6 col-md-6 col-lg-3">
    <div  class="card text-center card-gob">
    <div  class="titulocategoria"><a  href="/tramites/identidad" class="">
    <img  src="https://www.gob.mx/cms/uploads/image/file/487050/01_Identidad_dorado_2.png" alt="" class="card-img-top card-img-gob">
    <h4  class="card-title">
        OFICINA
    </h4>
</a>
</div>
<div  class="card-body">
<ul  class="list-unstyled">


</ul><a  href="" class="">
    <a  class="btn btn-categorias" href="oficinas">Ver todos &gt;</a></a>
</div>
</div>


</div>

<div  class="col-sm-6 col-md-6 col-lg-3">
    <div  class="card text-center card-gob">
    <div  class="titulocategoria"><a  href="/tramites/identidad" class="">
    <img  src="https://www.gob.mx/cms/uploads/image/file/487050/01_Identidad_dorado_2.png" alt="" class="card-img-top card-img-gob">
    <h4  class="card-title">
        OFICINA
    </h4>
</a>
</div>
<div  class="card-body">
<ul  class="list-unstyled">


</ul><a  href="" class="">
    <a  class="btn btn-categorias" href="oficinas">Ver todos &gt;</a></a>
</div>
</div>


</div>

<div  class="col-sm-6 col-md-6 col-lg-3">
    <div  class="card text-center card-gob">
    <div  class="titulocategoria"><a  href="/tramites/identidad" class="">
    <img  src="https://www.gob.mx/cms/uploads/image/file/487050/01_Identidad_dorado_2.png" alt="" class="card-img-top card-img-gob">
    <h4  class="card-title">
        OFICINA
    </h4>
</a>
</div>
<div  class="card-body">
<ul  class="list-unstyled">


</ul><a  href="" class="">
    <a  class="btn btn-categorias" href="oficinas">Ver todos &gt;</a></a>
</div>
</div>


</div>

<div  class="col-sm-6 col-md-6 col-lg-3">
    <div  class="card text-center card-gob">
    <div  class="titulocategoria"><a  href="/tramites/identidad" class="">
    <img  src="https://www.gob.mx/cms/uploads/image/file/487050/01_Identidad_dorado_2.png" alt="" class="card-img-top card-img-gob">
    <h4  class="card-title">
        OFICINA
    </h4>
</a>
</div>
<div  class="card-body">
<ul  class="list-unstyled">


</ul><a  href="" class="">
    <a  class="btn btn-categorias" href="oficinas">Ver todos &gt;</a></a>
</div>
</div>


</div>

</div>

</section>

<app-footer></app-footer>