<app-header></app-header>
<section class="intro">
  <div class="form">
    <h2><strong>Sistema Estatal de información Pesquera y Acuicola</strong></h2>
</div>
<div class="mask d-flex align-items-center h-100 gradient-custom">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10">
      <div class="card">
        <div class="card-body p-5">
          <div class="row d-flex align-items-center">
<div class="col-md-6 col-xl-7">
  
  <div class="text-center pt-md-5 pb-5 my-md-5">
    <h2 class="fw bold-md-4 pb-2">Acceso al sistema</h2>
</div>
  
</div>
          

<div class="col-md-6 col-xl-4 text-center">

<div class="form-outline mb-3">
  <input type="email" id="typeEmail"
 class="form-control form-control-lg" >
 <label for="typeEmail" class="form-label">CURP</label>

</div>

<div class="form-outline mb-4">
  <input type="password" id="typePassword"
 class="form-control form-control-lg" >
 <label for="typePassword" class="form-label">Contraseña</label>

</div>

<div class="text-center">
  <button class="btn btn-outline-danger">
  Ingresar  
  </button>
  <p class="small mt-3 mb-4 text-muted" href="#">¿Olvidaste tu <span class="fw-bold"><a href="#">contraseña?</a>
  </span></p>
</div>
</div>

        </div>
      </div>
    </div>

  </div>
</div>
</div>
</div>

</section>




   
    
    
    

<app-footer></app-footer>