<p>domicilio works!</p>
<app-header></app-header>

<section class="container">
  <div class="d-flex justify-content-between " style="margin-top:20px;margin-left:20px;" >
    <div class="d-flex" style="font-family: 'Montserrat';font-size: 25px; ">
      <i class="bi bi-house"></i>
      <i class="bi bi-caret-right"></i>
     <p>Unidad economica</p>
     
    </div>
    <a href="#"   style="font-family: 'Montserrat';font-size: 25px; color:blue; margin-right:15px;">Manual de usuario</a>

  </div>


    <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; margin-left:20px;" >

      <div>
        <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Domicilio</strong><p>
      </div>
    </div>
    
      <div class="borderso text-center"></div>
      
    
        
        
        
       
        <div class=" mt-4 mb-4 d-flex justify-content-between" style="margin-left: 20px;">
          
          <div>
          
          
            <div >
                <p  class="textonormal">Numero exterior:</p>
              
             
            <input style="width:270px; height:47px;" type="text">
          </div>
        </div>

          <div class="d-flex justify-content-end col-8">
           
          
            <div >
              <p  class="textonormal">Numero interior:</p>
            
           
          <input style="width:270px; height:47px;" type="text">
        </div>
          <div style="margin-left: 200px;  ">
            <p  class="textonormal">Codigo postal:</p>
          
          <input style="width:270px; height:47px;" type="text">
        </div>
        </div>
        </div>
        
            
        <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; margin-left:20px;" >
            <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Datos generales</strong><p>
            <div>
                </div>
            </div>

            <div class="borderso text-center"></div>




            <div class=" mt-4 mb-4 d-flex justify-content-between" style="margin-left: 20px;">
          
                <div>
                  <p class="textonormal" >Estado:</p>
                
                <select  class="form-select " style="font-family: 'Montserrat'; font-size:17px; border:double rgb(179, 176, 176); width:270px; height:50px;" >
                  
                  <option selected >Selecciona una opción</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
                <div class="d-flex justify-content-end col-8">
                 
                    <div>
                        <p class="textonormal" >Municipio:</p>
                      
                      <select  class="form-select " style="font-family: 'Montserrat'; font-size:17px; border:double rgb(179, 176, 176); width:270px; height:50px;" >
                        
                        <option selected >Selecciona una opción</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  
                <div style="margin-left: 200px;  ">
                    <div>
                        <p class="textonormal" >Localidad:</p>
                      
                      <select  class="form-select " style="font-family: 'Montserrat'; font-size:17px; border:double rgb(179, 176, 176); width:270px; height:50px;" >
                        
                        <option selected >Selecciona una opción</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
              </div>
              </div>
              </div>
              

              <div class=" mt-4 mb-4 d-flex justify-content-between" style="margin-left: 20px;">
          
                <div>
                  <p class="textonormal" >Asentamiento/colonia:</p>
                  
                  
                 
                <input style="width:270px; height:47px;" type="text">
              
              </div>
                <div class="d-flex justify-content-end col-8">
                 
                
                  <div >
                    <p  class="textonormal">Telefono:</p>
                  
                 
                <input style="width:270px; height:47px;" type="text">
              </div>
                <div style="margin-left: 200px;  ">
                  <p  class="textonormal">Tipo:</p>
                  <div>
                  
                  
                  <select  class="form-select " style="font-family: 'Montserrat'; font-size:17px; border:double rgb(179, 176, 176); width:270px; height:50px;" >
                    
                    <option selected >Selecciona una opción</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              
              </div>
              
              

              </div>
              
           
              
              <div class="d-flex justify-content-between " style="margin-left: 200px; margin-bottom:40px;">
                 
                
                
        </div>
           
              

    </section>
<app-footer></app-footer>