<app-header></app-header>

<section class="container">
  <div class="d-flex justify-content-between " style="margin-top:20px;margin-left:20px;" >
    <div class="d-flex" style="font-family: 'Montserrat';font-size: 25px; ">
      <i class="bi bi-house"></i>
      <i class="bi bi-caret-right"></i>
     <p>Unidad economica</p>
     
    </div>
    <a href="#"   style="font-family: 'Montserrat';font-size: 25px; color:blue; margin-right:15px;">Manual de usuario</a>

  </div>


    <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; margin-left:20px;" >
      <p style=" font-size: 50px;"   ><strong>Unidad economica</strong></p>
      <div>
        <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Oficina de registro</strong><p>
      </div>
    </div>
    
      <div class="borderso text-center"></div>
      
    
        
        
        
       
        <div class=" mt-4 mb-4 d-flex justify-content-between" style="margin-left: 20px;">
          
          <div>
            <p class="textonormal" >Oficina:</p>
          
          <select  class="form-select " style="font-family: 'Montserrat'; font-size:17px; border:double rgb(179, 176, 176); width:270px; height:50px;" >
            
            <option selected >Selecciona una opción</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
          <div class="d-flex justify-content-end col-8">
           
          
            <div >
              <p  class="textonormal">Fecha:</p>
            
           
          <input style="width:270px; height:47px;" type="date">
        </div>
          <div style="margin-left: 200px;  ">
            <p  class="textonormal">Capturar RNPA:</p>
          
          <input style="width:270px; height:47px;" type="text">
        </div>
        </div>
        </div>
        
            
        <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; margin-left:20px; margin-top:150px;" >
            <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Datos generales</strong><p>
            <div>
                </div>
            </div>

            <div class="borderso text-center"></div>




            <div class=" mt-4 mb-4 d-flex justify-content-between" style="margin-left: 20px;">
          
                <div>
                  <p class="textonormal" >Tipo de persona:</p>
                
                <select  class="form-select " style="font-family: 'Montserrat'; font-size:17px; border:double rgb(179, 176, 176); width:270px; height:50px;" >
                  
                  <option selected >Selecciona una opción</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
                <div class="d-flex justify-content-end col-8">
                 
                
                  <div >
                    <p  class="textonormal">CURP:</p>
                  
                 
                <input style="width:270px; height:47px;" type="text">
              </div>
                <div style="margin-left: 200px;  ">
                  <p  class="textonormal">RFC:</p>
                
                <input style="width:270px; height:47px;" type="text">
              </div>
              </div>
              </div>
              

              <div class=" mt-4 mb-4 d-flex justify-content-between" style="margin-left: 20px;">
          
                <div>
                  <p class="textonormal" >Nombres(s):</p>
                  
                  
                 
                <input style="width:270px; height:47px;" type="text">
              
              </div>
                <div class="d-flex justify-content-end col-8">
                 
                
                  <div >
                    <p  class="textonormal">Apellido paterno:</p>
                  
                 
                <input style="width:270px; height:47px;" type="text">
              </div>
                <div style="margin-left: 200px;  ">
                  <p  class="textonormal">Apellido marterno:</p>
                
                <input style="width:270px; height:47px;" type="text">
              </div>
              
              </div>
              
              

              </div>
              
           
              
              <div class="d-flex justify-content-start " style="margin-left: 20px; margin-bottom:40px;">
                 
                
                <div >
                  <p  class="textonormal">Correo:</p>
                
               
              <input style="width:500px; height:47px;" type="text">
            </div>
        </div>
           
              

    </section>
<app-footer></app-footer>